.cardName {
  font-size: 2vw;
  color: var(--orange);
  font-weight: 600;
  margin-bottom: 7px;
  user-select: none;
  text-transform: capitalize;
}

@media (max-width: 780px) {
  .cardName {
    font-size: 4vw;
  }
}
