@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

:root {
  --orange: #ffa500;
  --silver: #c0c0c0;
  --white: #fff;
  --lightGray: #dcdcdc;
  --gray: #777;
  --black: #000;
  --green: #166d16;
  --darkOrange: #ff8c00;
  --navBg: #f8f8ff;
}

.title__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

.title__section p {
  color: var(--gray);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7;
  width: 70%;
  user-select: none;
}

.main__container {
  margin: 6rem 0;
  width: 100%;
  background-color: var(--white);
  height: auto;
}

.cards__area {
  width: 85%;
  margin: 2rem auto;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 780px) {
  .title__section p {
    font-size: 14px;
  }

  .row1 {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .title__section p {
    font-size: 13px;
  }
}
